<!DOCTYPE html>
<html>
  <head>
    <title>Node Amazon</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/products">All Products</a>
      |
      <a href="/products/new">New Products</a>
    </nav>
